<h1>submit survey</h1>

<form method="POST" action="/new-survey">

    Name: <input type="text" name="name"/>

    Email: <input type="text" name="email"/>

    Url: <input type="text" name="url"/>

    Image Url: <input type="text" name="image"/>

    Question1: <input type="text" name="question1"/>

    <button type="submit">Submit Post</button>


</form>